body {
  background-color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  min-width: 100vh;
  height: auto;
}
.ikra{
  background: red;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 /* css framwork */
@tailwind base;
@tailwind components;
@tailwind utilities;
